
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

input
{
    width: 70%;
    padding: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }

textarea {
  width: 70%;
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}